<!DOCTYPE html>
<html>
<head>
	<title>ZTT's birthday</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="@{'/public/stylesheets/main.css'}" />
	<link rel="shortcut icon" href="@{'/public/images/birth.ico'}" >
	<script src="http://cdn.bootcss.com/jquery/1.9.1/jquery.js"></script>
	<script src="@{'/public/javascripts/main.js'}"></script>
</head>
<body>
	<audio src="res/super.mp3" id="bgAudio" controls="controls" autoplay></audio>
	<div class="main-content">
		<div id="ztt">
			<img src="@{'/public/images/smile-1.png'}" alt="詹婷婷" />
		</div>
		<div id="process-bar">
			<div id="process-crt"></div>
			<div id="process-point-0" class="process-point"></div>
			<div id="process-year-0" class="process-year">1994</div>
			<div id="process-point-1" class="process-point"></div>
			<div id="process-year-1" class="process-year">1995</div>
			<div id="process-point-2" class="process-point"></div>
			<div id="process-year-2" class="process-year">1996</div>
			<div id="process-year-3" class="process-year">1997</div>
			<div id="process-point-3" class="process-point"></div>
			<div id="process-year-4" class="process-year">1998</div>
			<div id="process-point-4" class="process-point"></div>
			<div id="process-year-5" class="process-year">1999</div>
			<div id="process-point-5" class="process-point"></div>
			<div id="process-year-6" class="process-year">2000</div>
			<div id="process-point-6" class="process-point"></div>
			<div id="process-year-7" class="process-year">2012</div>
			<div id="process-point-7" class="process-point"></div>
			<div id="process-year-8" class="process-year">2013</div>
			<div id="process-point-8" class="process-point"></div>
			<div id="process-year-9" class="process-year">2014</div>
			<div id="process-point-9" class="process-point"></div>
		</div>
		<div id="candle">
			<img src="@{'/public/images/cake.png'}" alt="生命值">
			X <span class="years-count">0</span>
		</div>
		<div id="ztt-smile">
			<img src="@{'/public/images/image.jpg'}" alt="詹婷婷" />
		</div>
		<div id="egg">
			<img src="@{'/public/images/egg.png'}" />
		</div>
		<div id="coach">
			<img src="@{'/public/images/coach.png'}" />
		</div>
		<div id="bird">
			<img src="@{'/public/images/bird_4.png'}" />
		</div>
		<div id="bird_2">
			<img src="@{'/public/images/bird_2.png'}" />
		</div>
		<div id="bird_3">
			<img src="@{'/public/images/bird.png'}" />
		</div>
		<div id="ballon">
			<img src="@{'/public/images/ballon.png'}" />
		</div>
		<div id="tower">
			<img src="@{'/public/images/eiffel.svg'}" />
		</div>
		<div id="streetlamp">
			<img src="@{'/public/images/streetlamp.svg'}" />
		</div>
		<div id="foot1">
			<img src="@{'/public/images/foot1.png'}" />
		</div>
		<div id="foot2">
			<img src="@{'/public/images/foot2.png'}" />
		</div>
		<div id="foot3">
			<img src="@{'/public/images/foot3.png'}" />
		</div>
		<div id="bird_4">
			<img src="@{'/public/images/bird_3.png'}" />
		</div>
		<div id="cloud">
			<img src="@{'/public/images/cloud2.svg'}" />
		</div>
		<div id="lightning">
			<img src="@{'/public/images/lightning.png'}" alt="">
		</div>
		<div id="sun">
			<img src="@{'/public/images/sun.png'}" >
		</div>
	</div>
	<div class="blessing">
		<h1>Happy Birthday To TingTing.</h1>
		<h2>Forever 18 !</h2>
	</div>
</body>
</html>